<h2>
  About me
</h2>

<img src="https://si0.twimg.com/profile_images/642143051/19537_258704666206_709931206_3877247_8088100_n.jpg" style="width: 100%; margin-bottom: 30px;" />
<!--img src="/images/happy-flower-man.jpg" style="width: 100%; margin-bottom: 30px;" /-->

<h2>
  The day job
</h2>

<p style="position: relative; left: -5px">
  <img src="/images/37-suitcase.png" width="20" style="float: left; padding: 0 10px 40px 0"/> I may be available to work on Rails and Javascript projects,
  <a href="mailto:ben@nolanconsul.com">email</a> or <a href="callto:bennolan">call me</a> to discuss.
</p>

<h2>
  Current Work
</h2>

<ul>
  <li><a href="http://www.powershop.co.nz/">Powershop</a></li>
  <li><a href="http://www.zoomin.co.nz/">ZoomIn</a></li>
</ul>
  
<h2>
  My Tools
</h2>

<ul>
  <li><a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a> and <a href="http://documentcloud.github.com/backbone/">Backbone.js</a></li>
  <li><a href="http://jquery.com/">jQuery</a>, <a href="http://www.w3.org/TR/html5/">HTML5</a> and <a href="http://www.w3.org/Style/CSS/current-work">CSS3</a></li>
  <li><a href="http://nodejs.org/">node.js</a> or <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
</ul>

<h2>
  Previous Clients
</h2>

<ul>
  <li><a href="http://www.youdo.co.nz/">YouDo</a></li>
  <li><a href="http://www.lonelyplanet.com/">Lonely Planet</a></li>
  <li><a href="http://www.sony.net/Fun/design/profile/globallocations/losangeles.html">Sony Los Angeles</a></li>
  <li><a href="http://www.copenhagen.dk/dk/">Copenhagen Museum</a></li>
  <li><a href="http://www.nzx.com/">New Zealand Exchange</a></li>
  <li><a href="http://www.autoscout24.de/">Autoscout 24 Munich</a></li>
  <li><a href="http://www.koziarski.com/">Koziarski Software</a></li>
  <li><a href="http://www.traveliq.net/">Travel IQ</a></li>
  <li><a href="http://www.zoomin.co.nz/">Zoomin</a></li>
  <li><a href="http://www.sxip.com/">Sxip</a></li>
</ul>

<h2>
  Find me online
</h2>

<ul class="findmeonline">
  <li><a href="/atom.xml"><img src="/images/rss.png" /> atom feed</a></li>
  <!--li><a href="http://delicious.com/benn/"><img src="/images/delicious.png" /> delicious</a></li-->
  <li><a href="http://github.com/bnolan/"><img src="/images/github.png" /> github</a></li>
  <li><a href="http://flickr.com/photos/benn"><img src="/images/flickr.png" /> flickr</a></li>
  <li><a href="http://twitter.com/bnolan"><img src="/images/twitter.png" /> twitter</a></li>
  <li><a href="http://www.facebook.com/bennolan"><img src="/images/facebook.png" /> facebook</a></li>
</ul>

