body{
  line-height: 20px;  
  margin-bottom: 100px;
}

.container_12{
position: relative;
}
.heading { 
}

.heading{
}

a img{
	border: none;
}
a:hover{
	background: black !important;
	color: white !important;
	-webkit-transition: color 0.2s linear; 
	-webkit-transition-property: color,background,padding,left;
}

a{
	text-decoration: none;
	color: #333;
	border-bottom: 1px dotted #aaa;
}

li{
	margin-bottom: 0.5em;
}
.heading{
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading h1{
  cursor: pointer;
	margin: 0;
	padding: 50px 0 10px 0
	line-height: 200px;
	height: 200px;
	width: 200px;
	position: relative;
	left: -20px;
	background: black;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	display: block;
}

.heading h1 a{
	color: white;
	text-decoration: none;
	font-size: 24px;
	letter-spacing: -1px;
	position: absolute;
	border: none;
	bottom: 40px;
	right: 30px;
	line-height: 25px;
}

h2.subtitle{
  position: absolute;
  top: 100px;
  left: 180px;
	line-height: 20px;
	margin: 40px 0;
	font-size: 1.2em;
	font-weight: normal;
	color: #333;
	text-align: center;
}

h2.subtitle em{
	font-style: normal;
	font-weight: bold;
}

h2.subtitle em:nth-child(2){
}

.preview.postcontent p:nth-child(1):after{
  content: "..";
}

.preview.postcontent>* + *{
  display: none;
}

.postcontent img{
  margin: 5px 0 30px 20px;
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
  max-width: 310px;
}

.postcontent cite{
  display: block;
  color: #555;
  font-size: 0.85em;
  margin-left: 30px;
  font-style: normal;
}

.postcontent img + cite{
  position: relative;
  top: -20px;
}

.gridlinks{
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	margin: 40px 0;
}

.gridlinks div img{
	vertical-align: bottom;
	position: relative;
	top: -7px;
}
.gridlinks div{
	text-align: center;
	display: block;
	line-height: 40px;
	font-size: 12px;
	color: black;
}

.gridlinks a{ border: none; display: block; color: inherit; -webkit-transition: color,background 0.2s linear; background: rgba(255,255,255,0); }
.gridlinks a:hover{color: black;}
.gridlinks div:nth-child(even) a:hover{ background: #FF1168; }
.gridlinks div:nth-child(odd) a:hover{ background: black; color: white; }


.metadate b{
	font-size: 1.6em;
}

h1.title a{
	background: black;
	color: white;
	padding: 5px;
	border: none;
}


.slideshow{
	width: 640px; 
	height: 320px; 
	overflow: hidden; 
	position: relative;
	left: -2px;
	top: -2px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.slideshow img{
	width: 640px;
}

.slideshow .slide{
	position: absolute;
	top: 0;
	left: 0;
}

.slideshow .slide .description{
	position: absolute;
	top: 280px;
	height: 20px;
	padding: 10px;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 1px black;
	color: white;
	
}


.sidebar h2{
	font-family: 'helvetica neue', Verdana, Sans-Serif;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px dotted #999;
	color: #333;
	font-weight: normal;
	line-height: 28px;
}


.metadate{
  border-bottom: 3px double #ccc;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  display: block;
  line-height: 28px;
  position: relative;
  left: 20px;
}

h3.title{
  line-height: 28px;
  border-bottom: 3px double #ccc;
  background: none;
  font-size: 1.3em;
}
h3.title a{
  border: none;
  color: black;
}



pre{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 12px;
  font-family: 'courier new', fixed;
  line-height: 20px;
  background: white;
  padding: 5px;
  color: #333;
  background: #eee;
}

.post h2, .post h1{
  font-size: 1.2em;
  color: #333;
  line-height: 25px;
  margin-bottom: 15px;
  
}

.findmeonline li{
  position: relative;
  list-style: none;
}
.findmeonline img{
  position: absolute;
  left: -22px;
  width: 18px;
}

