<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ben Nolan - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/stylesheets/960.css" />
    <link rel="stylesheet" href="/stylesheets/ben.css" />
  </head>
  <body>
    <div class="container_12">
      <div id="header" class="basic">

        <div class="heading">
          <h1>
            <a href="/">Ben Nolan</a>
          </h1>
        </div>
      </div>
      
      <div class="clear"></div>

      <h2 class="subtitle">
        <span>I like to make software that is <em>fun</em> and <em>good looking</em>.</span>
      </h2>
      
      <div class="grid_8" style="padding-left: 10px">
        
        {% for post in site.posts limit:5 %}
          <div class="grid_2">
            <div class="metadate">
              {{ post.date | date: "%a" }}
              {{ post.date | date: "%B %d" }}
              </div>
          </div>
          
          <div class="grid_5 post">
            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></<h1 id=""></h1>
            {{ post.content }}
          </div>
          
          <!--div class="comment-link"><a href="{{ post.url }}#disqus_thread">{{ post.title }}</a></div-->
          
          <div class="clear"></div>
        {% endfor %}

      </div>

      <div class="grid_3 sidebar">
        
        <h2>
          Work with me
        </h2>
        
        <p>
          <img src="/images/37-suitcase.png" width="20" style="float: left; padding: 0 10px 40px 0"/> I am available for hire,
          <a href="mailto:bnolan@gmail.com">email</a> or <a href="callto:bennolan">call me</a>.
        </p>

        <h2>
          Tools
        </h2>
        
        <ul>
          <li><a href="http://jquery.com/">jQuery</a>, <a href="http://www.w3.org/TR/html5/">HTML5</a> and <a href="http://www.w3.org/Style/CSS/current-work">CSS3</a></li>
          <li><a href="http://nodejs.org/">node.js</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
          <li><a href="http://www.mongodb.org/">MongoDB</a> or <a href="http://www.postgresql.org/">PostgreSQL</a></li>
        </ul>

        <h2>
          Clients
        </h2>
        
        <ul>
          <li><a href="http://www.lonelyplanet.com/">Lonely Planet</a></li>
          <li><a href="http://www.copenhagen.dk/dk/">Copenhagen Museum</a></li>
          <li><a href="http://www.sony.net/Fun/design/profile/globallocations/losangeles.html">Sony Los Angeles</a></li>
          <li><a href="http://www.autoscout24.de/">Autoscout 24 Munich</a></li>
        </ul>

        <h2>
          Find me online
        </h2>
        
        <ul class="findmeonline">
          <li><a href="http://github.com/bnolan/"><img src="/images/github.png" /> github</a></li>
          <li><a href="http://flickr.com/photos/benn"><img src="/images/flickr.png" /> flickr</a></li>
          <li><a href="http://twitter.com/bnolan"><img src="/images/twitter.png" /> twitter</a></li>
          <li><a href="http://www.facebook.com/bennolan"><img src="/images/facebook.png" /> facebook</a></li>
        </ul>
        
      </div>

      <div class="push"></div>
    </div>

  </body>
</html>
