<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ben Nolan - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/stylesheets/960.css" />
    <link rel="stylesheet" href="/stylesheets/ben.css" />
    <link rel="alternate" type="application/atom+xml" title="Ben Nolan - Atom" href="http://bnolan.github.com/atom.xml" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="container_12">
      <div id="header" class="basic">

        <div class="heading">
          <h1 onclick="window.location='/'">
            <a href="/">Ben Nolan</a>
          </h1>
        </div>
      </div>
      
      <div class="clear"></div>

      <h2 class="subtitle">
        <span>I like to make software that is <em>fun</em> and <em>good looking</em>.</span>
      </h2>
      
      <div class="grid_8">
        
        <div class="grid_2">
          <div class="metadate">
            {{ page.date | date: "%a" }}
            {{ page.date | date: "%B %d" }}
            </div>
        </div>
        
        <div class="grid_5 post">
          <h3 class="title"><a href="{{ post.url }}">{{ page.title }}</a></<h1 id=""></h1>
            <div class="postcontent">
              {{ content }}
            </div>

            <div id="disqus_thread"></div>

            <script type="text/javascript">
              var disqus_identifier = "{{ page.url }}";

              (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://bnolan.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>

            <!--
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=bnolan">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            -->
        </div>
      </div>

      <div class="grid_3 sidebar">
        {% include sidebar.html %}
      </div>

      <div class="push"></div>
    </div>

    <br style="clear: both" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4944761-3']);
      _gaq.push(['_setDomainName', '.bennolan.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      $(".postcontent img").click(function(){
        window.location = $(this).attr('src');
      })
    </script>
    
  </body>
</html>
